

<div id="response-container" class="row justify-content-md-center m-5" style = "display: none;">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message text-white font-weight-bold"></h2>
        <form action="/player/response" method="POST" id="response-form" >
            <input class="form-control" id="text" name="text" placeholder="Submit your lie!" type="text" value="">
            <br>
            <button id="btn-response" class="btn btn-primary btn-block btn-lg">Submit</button>
        </form>
    </div>
</div>
